<footer class="sticky-footer bg-sleeper">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <!-- <span>Copyright &copy; Giacomo Terreran 2024</span> -->
            <p><span>Website created by Giacomo Terreran, 2024</span></p>
            <p><span>This website uses Services owed by Blitz Studios, Inc., and offered by Sleeper mobile application and website.</span></p>
            <p><span><a href="http://www.sleeper.com/" rel="nofollow noopener noreferrer" target="_blank">www.sleeper.com</a><span></p>
        </div>
    </div>
</footer>