{% load static %}

<nav class="navbar navbar-expand topbar">

    <!-- Topbar Navbar -->
    <div class="topnavbar-nav">
        <div class="topnav-left-container">
            {% if league is not None %}
                <div class="avatar-league" style="background-image: url(&quot;https://sleepercdn.com/avatars/thumbs/{{ avatar }}&quot;); width: 36px; height: 36px; flex: 0 0 36px; background-size: contain; border-radius: 10px;"></div>
                <div class="text-league-header-name">{{ league }}</div>
                <div class="text-topnav-header">league</div>
                <div class="text-league-header-name text-league-years">{{ min_year }} - {{ max_year }}</div>
            {% endif %}
        </div>
        <div style='flex-grow: 1;'>
                
        </div>
        <div class="topnav-right-container">
            <div class="topnav-right-element">
                <a href="{% url 'profile' %}" class="text-topnav-header align-items-center">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    {{ user.username }}
                </a>
            </div>
            <div class="topnav-right-element">
                <a href="{% url 'logout' %}" class="full-button">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                </a>
            </div>
            <div class="topnav-right-element">
                <a href="{% url 'logout' %}" class="full-button">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </div>
    </div>
</nav>