{% extends 'base_empty.html' %}
{% load static %}
{% block content %}
<h1 class="sidebar-brand-text mx-3" style="text-align:center; font-size: 500%; margin-top: 20px; margin-bottom: 20px; color:#F3EEDE"> Sleeper Legacy
</h1>
<img src="{% static 'img/Logo.svg' %}"
        alt="..." style="display: block; margin-left: auto; margin-right: auto; width: 30%;">
<div class = "homepage-log-buttons" style="display: flex; justify-content: center;">
    <a class="empty-button" href="{% url 'login' %}">
        Log In
    </a>
    <a href="{% url 'signup' %}" class="full-button">
        Sign Up
    </a>
</div>
{% endblock %}