{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="big-box-container">
    <div class="top-container">
        <div class="top-main-text">
            <div class="title-text">
                Forgot password?
            </div>
        </div>
        <div class="description-text">
            A reset password link will be sent to your email.
        </div>
    </div>
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            {% if form.email.errors %}
            <div class="form-input-box error">
            {% else %}
            <div class="form-input-box">
            {% endif %}
                <label>email</label>
                <div class="input-div">
                    {{ form.email }}
                </div>
                {% if form.email.errors %}
                <div class="input-message">
                    {{ form.email.errors.0 }}
                </div>
                {% endif %}
            </div>
            <div class="bottom-container">
                <button type="submit" class="full-button">Send</button>
                <div style='flex-grow: 1;'>
                    
                </div>
                <div class="extra-text">
                    <a href="{% url 'login' %}">Login</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}