{% extends 'base_loggedout.html' %}
{% load static %}
{% block content %}

<div class="top-container">
    <div class="top-main-text">
        <div class="title-text">
            Login
        </div>
        <div class="extra-text">
            <a href="{% url 'signup' %}">Sign up</a>
        </div>
    </div>
    <div class="description-text">
        Sign in using your sleeper username or your email.
    </div>
</div>
<div class="form-container">
    <form method="post">
        {% csrf_token %}
        {% if form.username.errors %}
        <div class="form-input-box error">
        {% else %}
        <div class="form-input-box">
        {% endif %}
            <label>username</label>
            <div class="input-div">
                {{ form.username }}
            </div>
            {% if form.username.errors %}
            <div class="input-message">
                {{ form.username.errors.0 }}
            </div>
            {% endif %}
        </div>
        {% if form.password.errors %}
        <div class="form-input-box error">
        {% else %}
        <div class="form-input-box">
        {% endif %}
            <label>password</label>
            <div class="input-div">
                {{ form.password }}
                <div class="password-toggle">
                    <i class="fa fa-eye-slash" id="togglePassword"></i>
                </div>
            </div>
            {% if form.password.errors %}
            <div class="input-message">
                {{ form.password.errors.0 }}
            </div>
            {% endif %}
        </div>
        <div class="bottom-container">
            <button type="submit" class="full-button">Login</button>
            <div style='flex-grow: 1;'>
                
            </div>
            <div class="extra-text">
                <a href="{% url 'forgotpassword' %}">Forgot password</a>
            </div>
        </div>
    </form>
</div>


{% endblock %}