{% load static %}
<img src="{% static 'img/Logo.svg' %}" alt="...">
{% load i18n %}{% autoescape off %}

{% blocktranslate %}Hello {{ user.get_username }}{% endblocktranslate %}

{% translate “Have you forgotten your password? We got you! Just follow this link and choose a new password:” %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url ‘password_reset_confirm’ uidb64=uid token=token %}
{% endblock %}
{% translate "For security reasons, this link will expire in 3 hours, or after your next login." %}
{% translate "If you didn't request to reset your password, you can simply ignore this email." %}
{% translate “Thanks!” %}

{% blocktranslate %}Your Sleeper Legacy Commissioner{% endblocktranslate %}

{% endautoescape %}