{% extends 'base_loggedout.html' %}
{% load static %}
{% block content %}

<div class="top-container">
    <div class="top-main-text">
        <div class="title-text">
            Email sent
        </div>
    </div>
</div>
<div class="form-container">
    If an account is associated with the email<br>{{ email }}<br>you will soon receive an email with a link to reset your password.
    <div class="bottom-container" style='margin-top:30px;'>
        <div class="extra-text">
            <a href="{% url 'login' %}">Login</a>
        </div>
    </div>
</div>

{% endblock %}