{% extends 'base_loggedout.html' %}
{% load static %}
{% block content %}

<div class="top-container">
    <div class="top-main-text">
        <div class="title-text">
            Sign up
        </div>
        <div class="extra-text">
            <a href="{% url 'login' %}">Login</a>
        </div>
    </div>
    <div class="description-text">
        Create an account to store all your Sleeper leagues.
    </div>
</div>
<div class="form-container">
    <form method="post">
        {% csrf_token %}
        {% if form.username.errors %}
        <div class="form-input-box error">
        {% else %}
        <div class="form-input-box">
        {% endif %}
            <label>sleeper username</label>
            <div class="input-div">
                {{ form.username }}
            </div>
            {% if form.username.errors %}
            <div class="input-message">
                {{ form.username.errors.0 }}
            </div>
            {% endif %}
        </div>
        {% if form.email.errors %}
        <div class="form-input-box error">
        {% else %}
        <div class="form-input-box">
        {% endif %}
            <label>email</label>
            <div class="input-div">
                {{ form.email }}
            </div>
            {% if form.email.errors %}
            <div class="input-message">
                {{ form.email.errors.0 }}
            </div>
            {% endif %}
        </div>
        <div style="margin-left: 20px;">
            <div class="password-rules-container ">
                The email will be used only in case you forget your password.
            </div>
        </div>
        {% if form.password1.errors %}
        <div class="form-input-box error">
        {% else %}
        <div class="form-input-box">
        {% endif %}
            <label>password</label>
            <div class="input-div">
                {{ form.password1 }}
                <div class="password-toggle">
                    <i class="fa fa-eye-slash" id="togglePassword"></i>
                </div>
            </div>
            {% if form.password1.errors %}
            <div class="input-message">
                {{ form.password1.errors.0 }}
            </div>
            {% endif %}
        </div>
        <div style="margin-left: 20px;">
            <div class="password-rules-container ">
                <div class="password-rules-text ">
                    <img src="https://sleepercdn.com/images/v2/icons/check.png">must not be too similar to the username, email, or sleeper ID
                </div>
                <div class="password-rules-text ">
                    <img src="https://sleepercdn.com/images/v2/icons/check.png">must not be among a list of common passwords
                </div>
                <div class="password-rules-text ">
                    <img src="https://sleepercdn.com/images/v2/icons/check.png">must not be entirely numeric
                </div>
                <div class="password-rules-text ">
                    <img src="https://sleepercdn.com/images/v2/icons/check.png">have at least 8 characters
                </div>
            </div>
        </div>
        {% if form.password2.errors %}
        <div class="form-input-box error">
        {% else %}
        <div class="form-input-box">
        {% endif %}
            <label>retype password</label>
            <div class="input-div">
                {{ form.password2 }}
                <div class="password-toggle">
                    <i class="fa fa-eye-slash" id="togglePassword"></i>
                </div>
            </div>
            {% if form.password2.errors %}
            <div class="input-message">
                {{ form.password2.errors.0 }}
            </div>
            {% endif %}
        </div>
        <div class="bottom-container">
            <button type="submit" class="full-button">Sign Up</button>
        </div>
    </form>
</div>


{% endblock %}